h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    color: white;
}

.namebanner {
    background-color: #4aaaa5;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
}

body { 
    background-image: url(/Users/Machomutant/gt/homework/Basic_Portfolio/assets/images/backgroundimage.png);
    background-repeat: repeat;
}

header {
    background-color: #ffffff;
    margin-left:auto;
    margin-right:auto;
}

.headerbox {
    float: center;
    height:100px;
    margin-left:auto;
    margin-right:auto; 
}

.container {
    float:center; 
    background-color: #ffffff;
    width:960px; 
    height:400px; 
    margin:auto;
}

img {
    margin: 15px;
}

.topnav {
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}