h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    color: white;
    padding-left: 15px;
    vertical-align: middle;
}

.title {
    color: #4aaaa5;
}

.namebanner {
    display: inline-block;
    height: 100%;
    background-color:#4aaaa5;
    width: 250px;
    vertical-align: middle;
}
body { 
    background-image: url(/Users/Machomutant/gt/homework/Basic_Portfolio/assets/images/backgroundimage.png);
    background-repeat: repeat;
}

header {
    background-color: #ffffff;
    width:960px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
}

.headerbox {
    height:100px;
    width:960px;   
}

.container {
    float:center; 
    background-color: #ffffff;
    width:960px; 
    height:400px; 
    margin:auto;
}

img {
    margin: 15px;
}

.topnav {
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}