header {
    background-color: white;
}

body { 
    background-image: url(/Users/Machomutant/gt/homework/Basic_Portfolio/assets/images/backgroundimage.png);
    background-repeat: repeat;
    margin: 0;
}

.name {
    color: white;
}

.header-box {
    float: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.namebanner {
    float: left;
    background-color: #4aaaa5;
    padding: 10px;
}

.topnav {
    float: right;
    height: 100px;
    padding-top: 40px;
}

.box {
    float: center;
    background-color: white;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.inside-container {
    padding: 20px;

}
.title {
    color: #4aaaa5;
    border-bottom: solid;
    border-bottom-color: darkgray;
    padding-bottom: 20px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: darkgrey;
}

.hyperlink {
    color: #4aaaa5;
    padding: 0px;
    font-size: 18px;
}

#middle-butt {
    border-right: solid;
    border-right-color: darkgrey;
    padding-right: 10px;
    border-left: solid;
    border-width: 1px;
    border-left-color: darkgrey;
}

#left-butt {
    padding-right: 10px;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

textarea {
    max-width: 920px;
    min-width: 920px;
    border-color: lightgrey;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: darkgrey;
}

input, textarea {
    width: 100%;
}

.submitbutton {
    width: 60px;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    text-align: center;
    color: white;
    padding: 5px;
}

#portfolio-box {
    height: 1000px;
}

.image-wrap {
    float: left;
    position: relative;
    text-align: center;
}

.image-label {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    top: 130px;
    width: 250px;
}

h3 {
    font-weight: lighter;
}